*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


html{
    background-image: url(../img/background.png);
}
h4{
    color: white;
    font-family: 'B612 Mono', monospace;
}
h3{
    color: white;
    font-family: 'B612 Mono', monospace;
}

h2{
    color: white;
    font-family: 'B612 Mono', monospace;
}

p{
    color: white;
    font-family: 'B612 Mono', monospace;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#260012 ;
    width:100vw;
    overflow:hidden;
    position: fixed;
    top: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 1rem auto;
    width: 100vw;
    font-family: 'B612 Mono', monospace;
}
nav #toggle,nav label{
    display: none;
}

a{
    text-decoration: none;

    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    margin-top: 5px
}



.material-symbols-outlined{
    display: flex;
    height: 2rem;
    color: white;
}

.carr-busq{
    display: flex;
    flex-direction: row;
    height: 2rem;
    gap:2rem;
}

.main-grid{
    margin-top: 10rem;
    display: grid;
    width: 100%;
    grid-template-columns: 100vw;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    ;
}


.section1{
    grid-area: section1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fila1-sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fila1-sec1 img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila2-sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.section1 img{
    display: flex;
    height: 5rem;
}

.section1 h3{
    background-color: black;
    color: white;
    display: flex;
    margin:2px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left:5px solid white;
    border-bottom: 5px solid white;
    border-top: 4px solid black;
    border-right: 4px solid black;
}

.txt-prods1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    width: 20%;
}

.txt-prods2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.section2 img{
    height: 10rem;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.section3 img{
    display: flex;
    height: 6rem;
}

.section3 div{
    display: flex;
    flex-direction: row;
}





.filt-prod{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 670px;
    margin-top:4rem;
    font-family: 'B612 Mono', monospace;
}

.titl-filt{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    margin:2px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left:5px solid black;
    border-bottom: 5px solid white;
    border-top: 4px solid black;
    border-right: 4px solid white;
}



.arrow-ord{
    display: flex;
    height: 0.75rem ;
    margin-top: 6px;
    margin-left:1rem;
}

.filtros-busq{
    display: flex;
    flex-direction: row;
gap:4rem;
}
.container-prod{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'B612 Mono', monospace;
    margin-top: 10rem;
}

.cardprod{
    display: flex;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    gap: 4rem;
}

.cardprod img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.cardprod div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    color: white;
}

/* Toda esta zona es para las clases referidas a los formularios de contacto y de ayuda */

fieldset div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    font-family: 'B612 Mono', monospace;
}

.form-gral{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20rem;
    margin-top: 10rem;
}


.form-title{
display: flex;
justify-content: center;
margin-left: 3rem;
color: white;
}

.form-email{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.form-contraseña{
    display: flex;
    justify-content: center;
    flex-direction:column;
    color: white;
    margin-bottom: 5rem;
}

.txt-mail{
    display: flex;
    justify-content: center;
}

.txt-contra{
    display: flex;
    justify-content: center;
}

.boton-enviar{
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Todo este sector es SOLO para modificaciones del footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    font-family: 'B612 Mono', monospace;
}
.txt-cont-f{
    display: flex;
    font-size: 1.5rem;
    font-family: 'B612 Mono', monospace;
}
.ayuda-f{
    display: flex;
    font-size: 1.5rem;
    font-family: 'B612 Mono', monospace;
}

.logos-f{
    display: flex;
    justify-content: center;    
}
.logo1{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 6px;
}
.logo2{
    height: 1.5rem;
    width: 1.5rem;  
    margin-right: 6px; 
}
.logo3{
    height: 1.5rem;
    width: 1.5rem; 
    margin-right: 6px;  
}
.logo4{
    height: 1.5rem;
    width: 1.5rem;
}

/* PSEUDO CLASES */
.fila1-sec1 img:hover{
    box-shadow: 0px 0px 10px #530127;
}

.img-prods2 img:hover{
    box-shadow: 0px 0px 10px #530127;
}

.section2 div img:hover{
    box-shadow: 0px 0px 10px #530127;
}

.cardprod:hover{
    box-shadow: 0px 0px 10px #530127;
}

.menu li a:hover{
    box-shadow: 0px 0px 20px #1a000c;
}




/* media query */
@media (max-width:768px){

    .logo{
        display: flex;
        width: 100vw;
    }
    .main-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 100vw;
        grid-template-rows: 150px 150px 150px;
        grid-template-areas: 
        "section1"
        "section2"
        "section3"
        ;
    }
.carr-busq{
    display: none;
}

    .menu{
        margin-right: 0;
        margin-left: 0;
        height: 0;
        overflow: hidden;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    nav label{
        display: flex;
        width: 100vw;
        color: white;
        cursor: pointer;
        flex-direction: column;
        align-items: end;
    }
    nav #toggle:checked~.menu{
        height: 100%;
    }

    footer{
        width: 100vw;
        height: fit-content;
    }



.section1{
    display: none;
}

.section2{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.section2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section3{
    width: 100vw;
    height: fit-content;
}

.section3 div{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section3 img{
    width: fit-content;
    height: 4rem;
}


.fila1-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.fila2-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

@media (max-width:425px){

    /* .main-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 100vw;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
        "section1"
        "section2"
        "section3"
        ;
    } */

.logo{
    display: flex;
    width: 100vw;
}

.logoimg{
    width: 100vw;
}
    .menu{
        margin-right: 0;
        margin-left: 0;
    }
    nav{
        width: 100vw;
    }

    .section1{
        visibility: hidden;
        display: none;
    }



    .section2 div{
        display: flex;
        flex-direction: column;
    }

    .section2-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .section2 img{
        width: fit-content;
    }
.section3{
display: flex;
flex-direction: column;
align-items: center;
}

    .section3 img{
        height: 4rem;
        gap: 1rem;
    }

    .main-grid{
        display: flex;
        flex-direction: column;
    }




@media (max-width:320px){

    /* .main-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 100vw;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
        "section1"
        "section2"
        "section3"
        ;
    } */
.logo{
    display: flex;
    width: 100vw;
}

.logoimg{
    width: 100vw;
}
    .menu{
        margin-right: 0;
        margin-left: 0;
    }
    nav{
        width: 100vw;
    }

    .section1{
        visibility: hidden;
        display: none;
    }



    .section2 div{
        display: flex;
        flex-direction: column;
    }

    .section2-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .section2 img{
        width: fit-content;
    }
.section3{
display: flex;
flex-direction: column;
align-items: center;
}

    .section3 img{
        height: 4rem;
        gap: 1rem;
    }

    .main-grid{
        display: flex;
        flex-direction: column;
    }

    }

}
}