* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #210010;
  width: 1fr;
  overflow: hidden;
  position: fixed;
  top: 0;
}
nav #toggle {
  display: none;
}
nav label {
  display: none;
}
nav section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100vw;
  height: 4rem;
}
nav section div {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
nav section div a {
  margin-right: 1rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 4rem;
  margin: 1rem auto;
  font-family: "B612 Mono", monospace;
}

.container-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "B612 Mono", monospace;
  margin-top: 10rem;
}
.container-prod .filtros-busq {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: fit-content;
}
.container-prod .filtros-busq div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 2px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 5px solid black;
  border-bottom: 5px solid white;
  border-top: 4px solid black;
  border-right: 4px solid white;
}
.container-prod .filtros-busq div h3 {
  color: white;
}
.container-prod .filtros-busq div img {
  height: 1rem;
  display: flex;
  margin-top: 6px;
  margin-left: 1rem;
}
.container-prod section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  gap: 4rem;
}
.container-prod section .cardprod {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
}
.container-prod section .cardprod:hover {
  box-shadow: 0px 0px 10px #530127;
}
.container-prod section .cardprod img {
  width: 60%;
  height: 4rem;
  object-fit: contain;
}
.container-prod section .cardprod div {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
  align-items: start;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5rem;
  font-family: "B612 Mono", monospace;
}
footer h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 1.5rem "B612 Mono", monospace;
  color: white;
}
footer div {
  display: flex;
  justify-content: center;
  gap: 6px;
}
footer div img {
  height: 1.5rem;
  width: 1.5rem;
}
footer a {
  flex-direction: column;
  align-items: center;
  display: flex;
  font: 1.5rem "B612 Mono", monospace;
}

.form-gral, .form-gral fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20rem;
  margin-top: 10rem;
}
.form-gral fieldset div {
  align-items: center;
  padding-bottom: 0rem;
  margin-top: 0rem;
  gap: 2rem;
  color: white;
  font-family: "B612 Mono", monospace;
}
.form-gral .boton-enviar {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 1024px) {
  main section {
    margin-top: 10rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas: "section1" "section2" "section3";
  }
  main section .section1 .fila1-sec1 .txt-prods1 p {
    width: 90%;
  }
}
@media (max-width: 768px) {
  nav {
    width: 1fr;
  }
  nav section {
    display: flex;
    flex-direction: column;
  }
  nav section div {
    display: none;
  }
  nav .menu {
    margin-right: 0;
    margin-left: 0;
    height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav label {
    display: flex;
    width: 100%;
    color: white;
    cursor: pointer;
    flex-direction: column;
    align-items: end;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  main .main-grid {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 1fr;
  }
  main .main-grid .section1 {
    grid-area: section1;
    display: none;
  }
  main .main-grid .section2 {
    grid-area: section2;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  main .main-grid .section2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .main-grid .section3 {
    grid-area: section3;
    width: 1fr;
    height: fit-content;
  }
  main .main-grid .section3 div {
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .main-grid .section3 img {
    width: fit-content;
    height: 4rem;
  }
  main .container-prod .filtros-busq {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}
@media (max-width: 425px) {
  nav {
    width: 1fr;
  }
  nav .menu {
    margin-right: 0;
    margin-left: 0;
    height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav label {
    display: flex;
    width: 100vw;
    color: white;
    cursor: pointer;
    flex-direction: column;
    align-items: end;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  main section {
    display: flex;
    flex-direction: column;
  }
  main section .section1 {
    visibility: hidden;
    display: none;
  }
  main section .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .section2 .img-of {
    display: flex;
    flex-direction: column;
  }
  main section .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .section3 img {
    height: 4rem;
    gap: 1rem;
  }
  main .main-grid {
    display: flex;
    flex-direction: column;
  }
  main .container-prod {
    width: 95vw;
  }
  main .cardprod {
    width: 250px;
    height: 100px;
  }
  main .filtros-busq {
    display: flex;
    flex-direction: column;
  }
}
.material-symbols-outlined {
  display: flex;
  height: 2rem;
  color: white;
}

body {
  background-image: linear-gradient(to bottom, #1c000d, #220312, #280515, #2f0518, #37041b, #37041b, #37041b, #37041b, #2f0518, #280515, #220312, #1c000d);
}

a {
  text-decoration: none;
  color: white;
}

main section {
  margin-top: 10rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas: "section1" "section2" "section3";
}
main section .tit-medio, main section .section3 h3, main section .section2 h3, main section .section1 .fila2-sec1 .txt-prods2 h2, main section .section1 .fila1-sec1 .txt-prods1 h2 {
  background-color: black;
  color: white;
  display: flex;
  margin: 2px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-top: 4px solid black;
  border-right: 4px solid black;
  width: fit-content;
}
main section .section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section .section1 .fila1-sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main section .section1 .fila1-sec1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main section .section1 .fila1-sec1 div a:hover {
  box-shadow: 0px 0px 10px #530127;
  animation: headShake;
  animation-duration: 1s;
}
main section .section1 .fila1-sec1 div img {
  height: 5rem;
  animation: wobble;
  animation-duration: 1s;
}
main section .section1 .fila1-sec1 .txt-prods1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex-wrap: wrap;
  width: 30%;
  color: white;
}
main section .section1 .fila1-sec1 .txt-prods1 h2 {
  font: 1.5rem "B612 Mono", monospace;
  color: white;
}
main section .section1 .fila1-sec1 .txt-prods1 p {
  font: 1rem "B612 Mono", monospace;
  width: 80%;
}
main section .section1 .fila2-sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80%;
}
main section .section1 .fila2-sec1 img {
  height: 5rem;
  animation: wobble;
  animation-duration: 1s;
}
main section .section1 .fila2-sec1 img:hover {
  box-shadow: 0px 0px 10px #530127;
  animation: headShake;
  animation-duration: 1s;
}
main section .section1 .fila2-sec1 .txt-prods2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
}
main section .section1 .fila2-sec1 .txt-prods2 h2 {
  font: 1.5rem "B612 Mono", monospace;
  color: white;
}
main section .section1 .fila2-sec1 .txt-prods2 p {
  font: 1rem "B612 Mono", monospace;
  width: 100%;
}
main section .section2 {
  grid-area: section2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .section2 h3 {
  color: white;
  font: 1.5rem "B612 Mono", monospace;
}
main section .section2 img {
  height: 10rem;
  margin-top: 1rem;
}
main section .section2 img:hover {
  box-shadow: 0px 0px 10px #530127;
}
main section .section3 {
  grid-area: section3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
main section .section3 h3 {
  font: 1.5rem "B612 Mono", monospace;
  color: white;
}
main section .section3 img {
  display: flex;
  height: 5rem;
}
main section .section3 img:hover {
  box-shadow: 0px 0px 10px #530127;
  transform: scale(1.25, 1.25);
}
main section .section3 div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
main .containter-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main .containter-carrito h2 {
  display: flex;
  font: 1.5rem "B612 Mono", monospace;
  margin-top: 10rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
