

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    font-family: 'B612 Mono', monospace;
    h4{
        display: flex;
    flex-direction: column;
    align-items: center;
    font:$tit-font;
    color: white;
    }
    div{
        display: flex;
        justify-content: center;
        gap: 6px;
        img{
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    a{
        flex-direction: column;
    align-items: center;
    display: flex;
    font: $tit-font;
    }
}


